node_red_dashboard/flow.json
[
    {
        "id": "855d2da34cd02ed6",
        "type": "tab",
        "label": "iot-control",
        "disabled": false
    },
    {
        "id": "6eceab9efbf09f45",
        "type": "mqtt in",
        "z": "855d2da34cd02ed6",
        "name": "subscribe_sensors",
        "topic": "iot/test/sensors",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "bd2df975e5243471"
            ]
        ]
    },
    {
        "id": "bd2df975e5243471",
        "type": "json",
        "z": "855d2da34cd02ed6",
        "name": "parse_json",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "346776c2eb117e51",
                "3086ab82f818b732"
            ]
        ]
    },
    {
        "id": "346776c2eb117e51",
        "type": "switch",
        "z": "855d2da34cd02ed6",
        "name": "has_status",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 120,
        "wires": [
            [
                "2bc8b31f9b1a53af"
            ],
            [
                "d886e24d47a137bc",
                "80cf827d1e2a6cf0",
                "6a17a16fe8e3d8c7",
                "1fd3f758747ca043"
            ]
        ]
    },
    {
        "id": "2bc8b31f9b1a53af",
        "type": "change",
        "z": "855d2da34cd02ed6",
        "name": "to_text",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "x": 720,
        "y": 120,
        "wires": [
            [
                "f62728a9d8ee4304"
            ]
        ]
    },
    {
        "id": "f62728a9d8ee4304",
        "type": "ui_text",
        "z": "855d2da34cd02ed6",
        "group": "a70d4d070de024c4",
        "order": 1,
        "width": 12,
        "height": 1,
        "name": "status_display",
        "label": "Status",
        "format": "{{msg.payload}}",
        "x": 910,
        "y": 120,
        "wires": []
    },
    {
        "id": "d886e24d47a137bc",
        "type": "function",
        "z": "855d2da34cd02ed6",
        "name": "temp_humidity",
        "func": "let data = msg.payload || {};\nlet temp = (data.temp == null || isNaN(data.temp)) ? undefined : Number(data.temp);\nlet humidity = (data.humidity == null || isNaN(data.humidity)) ? undefined : Number(data.humidity);\nreturn [{payload: temp}, {payload: humidity}];",
        "outputs": 2,
        "noerr": 0,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "d135118ef2f25530"
            ],
            [
                "403de249f25a25c0"
            ]
        ]
    },
    {
        "id": "d135118ef2f25530",
        "type": "ui_gauge",
        "z": "855d2da34cd02ed6",
        "name": "temperature",
        "group": "6652f95f26abc7e6",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature (C)",
        "label": "C",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "403de249f25a25c0",
        "type": "ui_gauge",
        "z": "855d2da34cd02ed6",
        "name": "humidity",
        "group": "6652f95f26abc7e6",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity (%)",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "80cf827d1e2a6cf0",
        "type": "function",
        "z": "855d2da34cd02ed6",
        "name": "light_magnet",
        "func": "let data = msg.payload || {};\nlet light = (data.light == null || isNaN(data.light)) ? undefined : Number(data.light);\nlet magnet = data.magnet === 1 ? \"Closed\" : \"Open\";\nreturn [{payload: light}, {payload: magnet}];",
        "outputs": 2,
        "noerr": 0,
        "x": 700,
        "y": 300,
        "wires": [
            [
                "56206746f66b402d"
            ],
            [
                "65fb6e8a536d8338"
            ]
        ]
    },
    {
        "id": "56206746f66b402d",
        "type": "ui_gauge",
        "z": "855d2da34cd02ed6",
        "name": "light",
        "group": "6652f95f26abc7e6",
        "order": 3,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Light (lux)",
        "label": "lux",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 300,
        "wires": []
    },
    {
        "id": "65fb6e8a536d8338",
        "type": "ui_text",
        "z": "855d2da34cd02ed6",
        "group": "a70d4d070de024c4",
        "order": 2,
        "width": 12,
        "height": 1,
        "name": "magnet_status",
        "label": "Magnet",
        "format": "{{msg.payload}}",
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "6a17a16fe8e3d8c7",
        "type": "function",
        "z": "855d2da34cd02ed6",
        "name": "pressure_distance",
        "func": "let data = msg.payload || {};\nfunction to_number(value) { return (value == null || isNaN(Number(value))) ? undefined : Number(value); }\nlet pressure = to_number(data.pressure);\nlet distance = to_number(data.distance);\nreturn [{ payload: pressure }, { payload: distance }];",
        "outputs": 2,
        "noerr": 0,
        "x": 700,
        "y": 380,
        "wires": [
            [
                "7b18b767b05ee9f3"
            ],
            [
                "b33f23dc7a88c053"
            ]
        ]
    },
    {
        "id": "7b18b767b05ee9f3",
        "type": "ui_gauge",
        "z": "855d2da34cd02ed6",
        "name": "pressure",
        "group": "6652f95f26abc7e6",
        "order": 4,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Pressure (hPa)",
        "label": "hPa",
        "format": "{{value}}",
        "min": "800",
        "max": "1100",
        "x": 910,
        "y": 380,
        "wires": []
    },
    {
        "id": "b33f23dc7a88c053",
        "type": "ui_gauge",
        "z": "855d2da34cd02ed6",
        "name": "distance",
        "group": "6652f95f26abc7e6",
        "order": 5,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Distance (mm)",
        "label": "mm",
        "format": "{{value}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 420,
        "wires": []
    },
    {
        "id": "6685d9d52db715a6",
        "type": "ui_switch",
        "z": "855d2da34cd02ed6",
        "name": "heater_control",
        "label": "Heater",
        "group": "2b36c7d8c9c502d6",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": false,
        "topic": "heater",
        "style": "",
        "onvalue": "heater=1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "heater=0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "339e38d23830de45"
            ]
        ]
    },
    {
        "id": "44a521021d3facbd",
        "type": "ui_switch",
        "z": "855d2da34cd02ed6",
        "name": "cooler_control",
        "label": "Cooler",
        "group": "2b36c7d8c9c502d6",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": false,
        "topic": "cooler",
        "style": "",
        "onvalue": "cooler=1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "cooler=0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 160,
        "y": 500,
        "wires": [
            [
                "339e38d23830de45"
            ]
        ]
    },
    {
        "id": "ff341dd80146bab1",
        "type": "ui_switch",
        "z": "855d2da34cd02ed6",
        "name": "flood_control",
        "label": "Flood",
        "group": "2b36c7d8c9c502d6",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": false,
        "topic": "flood",
        "style": "",
        "onvalue": "flood=1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "flood=0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 160,
        "y": 540,
        "wires": [
            [
                "339e38d23830de45"
            ]
        ]
    },
    {
        "id": "15c9b5f03ac4bcfe",
        "type": "ui_switch",
        "z": "855d2da34cd02ed6",
        "name": "window_control",
        "label": "Window",
        "group": "2b36c7d8c9c502d6",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": false,
        "topic": "window",
        "style": "",
        "onvalue": "window=1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "window=0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 160,
        "y": 580,
        "wires": [
            [
                "339e38d23830de45"
            ]
        ]
    },
    {
        "id": "768350bff84c984e",
        "type": "ui_switch",
        "z": "855d2da34cd02ed6",
        "name": "alarm_control",
        "label": "Alarm",
        "group": "2b36c7d8c9c502d6",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": false,
        "topic": "alarm",
        "style": "",
        "onvalue": "alarm=1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "alarm=0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 160,
        "y": 620,
        "wires": [
            [
                "339e38d23830de45"
            ]
        ]
    },
    {
        "id": "d94b0a03fceccf11",
        "type": "ui_switch",
        "z": "855d2da34cd02ed6",
        "name": "mode_control",
        "label": "AI Mode",
        "tooltip": "",
        "group": "2b36c7d8c9c502d6",
        "order": 6,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": false,
        "topic": "mode",
        "topicType": "str",
        "style": "",
        "onvalue": "mode=ai",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=rule",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 160,
        "y": 660,
        "wires": [
            [
                "339e38d23830de45",
                "c814560bba75fbdb"
            ]
        ]
    },
    {
        "id": "339e38d23830de45",
        "type": "mqtt out",
        "z": "855d2da34cd02ed6",
        "name": "publish_control",
        "topic": "iot/cmd/act",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 360,
        "y": 540,
        "wires": []
    },
    {
        "id": "1fd3f758747ca043",
        "type": "mqtt out",
        "z": "855d2da34cd02ed6",
        "name": "send_to_model",
        "topic": "iot/model/input",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "bdb3f4272da4e960",
        "type": "mqtt in",
        "z": "855d2da34cd02ed6",
        "name": "subscribe_predictions",
        "topic": "iot/model/predictions",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 680,
        "wires": [
            [
                "7f7e57dfaa9bae76"
            ]
        ]
    },
    {
        "id": "7f7e57dfaa9bae76",
        "type": "function",
        "z": "855d2da34cd02ed6",
        "name": "update_switches (AI)",
        "func": "let message = msg.payload;\nif (typeof message !== 'string') return [null, null];\n\nlet controlMsg = null;\nlet statusMsg = null;\n\nfunction make(outName) {\n  const isOn = message.trim().endsWith('=1');\n  controlMsg = { payload: `${outName}=${isOn ? 1 : 0}` };\n  statusMsg = { topic: outName, payload: isOn ? 1 : 0 };\n}\n\nif (message.startsWith('heater=')) make('heater');\nelse if (message.startsWith('cooler=')) make('cooler');\nelse if (message.startsWith('flood=')) make('flood');\nelse if (message.startsWith('window=')) make('window');\nelse return [null, null];\n\nreturn [controlMsg, statusMsg];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 720,
        "wires": [
            [
                "eb67317ec2ee72ea"
            ],
            [
                "4ddb6b9d98ae4370"
            ]
        ]
    },
    {
        "id": "eb67317ec2ee72ea",
        "type": "switch",
        "z": "855d2da34cd02ed6",
        "name": "route_control",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "heater",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cooler",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "flood",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "window",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "alarm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mode",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 620,
        "y": 540,
        "wires": [
            [
                "6685d9d52db715a6"
            ],
            [
                "44a521021d3facbd"
            ],
            [
                "ff341dd80146bab1"
            ],
            [
                "15c9b5f03ac4bcfe"
            ],
            [
                "768350bff84c984e"
            ],
            [
                "d94b0a03fceccf11"
            ]
        ]
    },
    {
        "id": "1af25f8293e203ca",
        "type": "ui_text",
        "z": "855d2da34cd02ed6",
        "group": "734eba330a0c3419",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Cooler status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1310,
        "y": 720,
        "wires": []
    },
    {
        "id": "a238711d5ab8c8a7",
        "type": "ui_text",
        "z": "855d2da34cd02ed6",
        "group": "734eba330a0c3419",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Heater status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1250,
        "y": 560,
        "wires": []
    },
    {
        "id": "de04b6db18a74c1d",
        "type": "ui_text",
        "z": "855d2da34cd02ed6",
        "group": "734eba330a0c3419",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Flood status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1290,
        "y": 840,
        "wires": []
    },
    {
        "id": "4208ea60a975676a",
        "type": "ui_text",
        "z": "855d2da34cd02ed6",
        "group": "734eba330a0c3419",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Window status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1240,
        "y": 920,
        "wires": []
    },
    {
        "id": "5c7dd113c1a9a499",
        "type": "switch",
        "z": "855d2da34cd02ed6",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "heater",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cooler",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "flood",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "window",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1090,
        "y": 720,
        "wires": [
            [
                "a238711d5ab8c8a7"
            ],
            [
                "1af25f8293e203ca"
            ],
            [
                "de04b6db18a74c1d"
            ],
            [
                "4208ea60a975676a"
            ]
        ]
    },
    {
        "id": "4ddb6b9d98ae4370",
        "type": "function",
        "z": "855d2da34cd02ed6",
        "name": "to_on_off",
        "func": "msg.payload = (Number(msg.payload) === 1) ? \"ON\" : \"OFF\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 720,
        "wires": [
            [
                "5c7dd113c1a9a499"
            ]
        ]
    },
    {
        "id": "07a9986bbec6ba90",
        "type": "ui_ui_control",
        "z": "855d2da34cd02ed6",
        "name": "ui_control",
        "events": "all",
        "x": 700,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "c814560bba75fbdb",
        "type": "function",
        "z": "855d2da34cd02ed6",
        "name": "toggle AI predictions group",
        "func": "const GROUP_ID = \"ESP32_Control_AI_predictions\";\nconst p = String(msg.payload || \"\");\n\nmsg.payload = {\n    group: { \n        show: (p == \"mode=ai\") ? [GROUP_ID] : [],\n        hide: (p == \"mode=ai\") ? [] : [GROUP_ID]\n    }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 780,
        "wires": [
            [
                "07a9986bbec6ba90"
            ]
        ]
    },
    {
        "id": "3086ab82f818b732",
        "type": "function",
        "z": "855d2da34cd02ed6",
        "name": "build_alarm_text",
        "func": "let p = msg.payload;\nif (!p || typeof p !== \"object\") return null;\n\nlet alarmEnabled = Number(p.alarm || 0);\nlet d = p.distance; \nif (d === null || d === undefined) {\n    msg.payload = \"No object\";\n    return msg;\n}\n\nlet distance = Number(d);\nif (!Number.isFinite(distance)) {\n    msg.payload = \"No object\";\n    return msg;\n}\n\nif (alarmEnabled === 1 && distance < 200) {\n    msg.payload = `Alarm! Object detected: ${distance} mm`;\n} else {\n    msg.payload = `Object: ${distance} mm`;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 40,
        "wires": [
            [
                "5de96489ee933dd3"
            ]
        ]
    },
    {
        "id": "5de96489ee933dd3",
        "type": "ui_text",
        "z": "855d2da34cd02ed6",
        "group": "a70d4d070de024c4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 40,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "my_laptop",
        "broker": " localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a70d4d070de024c4",
        "type": "ui_group",
        "name": "Status",
        "tab": "0d429a37c81569d4",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "6652f95f26abc7e6",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "0d429a37c81569d4",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "2b36c7d8c9c502d6",
        "type": "ui_group",
        "name": "Controls",
        "tab": "0d429a37c81569d4",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "734eba330a0c3419",
        "type": "ui_group",
        "name": "AI predictions",
        "tab": "0d429a37c81569d4",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d429a37c81569d4",
        "type": "ui_tab",
        "name": "ESP32 Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "83388a2131af8718",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]
